In [1]:
import pandas as pd

In [45]:
hunday_models = r'..\Assets\vehicle_models_db\HYUNDAI SEP25.xlsx'

# I want to read all the sheets in this excel file and combine them into a single dataframe for easier searching nad they have the sames columns structure. Create a new column and name it Year and the value should be the name of the sheet it came from.
xls = pd.ExcelFile(hunday_models)
df = pd.DataFrame()
for sheet_name in xls.sheet_names:
    temp_df = pd.read_excel(xls, sheet_name=sheet_name)
    temp_df['Year'] = sheet_name
    df = pd.concat([df, temp_df], ignore_index=True)   
# df.to_csv('hyundai_models.csv', index=False)

In [46]:

# df.columns = df.columns.str.strip()
df = df.map(lambda x: x.strip() if isinstance(x, str) else x)

In [47]:
df.drop(columns=['CPR', 'LR', 'FI', 'FLRR',
       'SF1-24', 'SF25-36', 'SF37-48', 'SF49-60', 'SF61-72', 'SF73-84',
       'BF60-84', 'SF85-96', 'SRF12-24', 'SRF25-36', 'SRF37-48', 'SRF49-60',
       'SRF61-72', 'SRF73-84', 'SRF85-96', 'SRBF60-84', 'NPFI', 'NPRR',
       'T6NR24-72', 'T5NR24-84', 'T4NR24-84', 'T3NR24-84', 'T2NR24-96', 'LI',
       'LLRR', 'SL24', 'SL33', 'SL36', 'SL39', 'SL48', 'SL60', 'SRL36',
       'SRL48', 'SRL60', 'RV24', 'RV33', 'RV36', 'RV39', 'RV48', 'RV60', 'MAR', 'TACR1-24', 'TACR25-36', 'TACR37-48', 'TACR49-60', 'TACR61-72',
       'TACR73-84', 'TACBR60-84', 'Column1', 'TCCR1-24', 'TCCR25-36',
       'TCCR37-48', 'TCCR49-60', 'TCCR61-72', 'TCCR73-84', 'TCCBR60-84',
       'CLRR', 'CT3SR24-84', 'CT4SR24-84', 'CT5SR24-84', 'CT6SR24-84'], axis=1, inplace=True)

In [ ]:
# df[df['Description']== "NaN"]

Index(['Model', 'Description ', 'Description 2', 'Year', 'Description'], dtype='object')

In [ ]:
# in df named "df" create a new column Model_Name, and to obtain the valure, check in columns 'Description ' and 'Description', if one has the value and the other is NaN, then take the value that is not NaN, if both have values, then concatenate them with a space in between, if both are NaN, then the value should be NaN.Then the new column will be teh second column and the two columns  will be at the end of the dataframe.
df['Model_Name'] = df.apply(lambda row: row['Description'] if pd.isna(row['Description ']) else (row['Description '] if pd.isna(row['Description']) else (str(row['Description ']) + ' ' + str(row['Description']))), axis=1)
df.insert(1, 'Model_Name', df.pop('Model_Name'))

In [58]:
df =df[['Model', 'Year', 'Model_Name', 'Description 2',  'Description', 'Description ']]

In [83]:
df[df["Description"] == "Nan"]

Empty DataFrame
Columns: [Model, Year, Model_Name, Description 2, Description, Description ]
Index: []

In [88]:
df.dropna(subset=['Model'], inplace=True)

C:\Users\paxm\AppData\Local\Temp\ipykernel_8100\2606897353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['Model'], inplace=True)

In [98]:
df[df["Description 2"].isnull()]

            Model      Year Model_Name Description 2 Description Description
779  NXFW5ZH1PR00  CPO 2024       NEXO           NaN        NEXO          NaN
780  NXFW5ZH1UL00  CPO 2024       NEXO           NaN        NEXO          NaN

In [132]:
# df[df["Model_Name"].str.contains("Kona", case=False, na=False) & (df["Year"] == "2025") & ~df["Model_Name"].str.contains("EV", case=False, na=False)]


df[df["Model_Name"].str.contains("Kona", case=False, na=False) & (df["Year"] == "2024") & df["Description 2"].str.contains("Pref", case=False, na=False)]

,Model,Year,Model_Name,Description 2,Description,Description
223,KOCW5V2BPR00,2024,Kona,2.0L Preferred FWD,NaN,Kona
224,KOCW5Q2BPR00,2024,Kona,2.0L Preferred AWD,NaN,Kona
225,KOCW5Q2BPRTR,2024,Kona,2.0L Preferred AWD with Trend Pkg,NaN,Kona
230,KEEW5ZE4PR00,2024,Kona EV,Preferred,NaN,Kona EV