In [1]:
import pandas as pd

In [2]:
# read the excel file and see the sheet names
xl_files = pd.ExcelFile(r'..\landing_zone\2026\Hyundia\2025-11-1 HACC MAF - 20251113.xlsx')

In [587]:
target_sheets = "Master"
if target_sheets in xl_files.sheet_names:
    hyundai_master_sheet_df = pd.read_excel(r"..\landing_zone\2026\Hyundia\2025-11-1 HACC MAF - 20251113.xlsx", sheet_name=target_sheets, skiprows=1)

In [585]:
# load Hyundia model db

hyundai_model_db_df = pd.read_csv(r"..\database\dbs\Hyundai_models_db.csv")

In [588]:
key_columns_to_keep = ['Model \nYear \nFrom', 'Model', 'Trim 1', 'Trim 2',
       'Trim 3', 'Trim 4', 'Trim 5', 'Trim 6', 'Trim 7', 'Trim 8',
       'Accessory Description (EN)', 'Accessory Description (FR)',
       'Part\nNumber', 'DNET', 'MSRP', 'Labour Rate', 'Suggested Labour Hours',
       'Suggested Base Retail Price w/labour', 'Comments (EN)', 'Comments (FR)',]

In [589]:
hyundai_master_sheet_df = hyundai_master_sheet_df[key_columns_to_keep]

In [590]:
hyundai_master_sheet_df = hyundai_master_sheet_df.dropna(axis=1, how='all')

In [591]:
column_names_to_change = {
    'Model \nYear \nFrom': "Year", 
    'Part\nNumber':'PartNumber', 
    'Suggested Labour Hours':'Labour Hours',
    'Suggested Base Retail Price w/labour':'MSPR w/labour'}

In [592]:
standard_labour_rate = hyundai_master_sheet_df["Labour Rate"].unique().tolist()[0]

In [593]:
hyundai_master_sheet_df.rename(columns=column_names_to_change, inplace=True)

In [594]:
hyundai_master_sheet_df.columns

Index(['Year', 'Model', 'Trim 1', 'Trim 2', 'Trim 3', 'Trim 4', 'Trim 5',
       'Trim 6', 'Trim 7', 'Accessory Description (EN)',
       'Accessory Description (FR)', 'PartNumber', 'DNET', 'MSRP',
       'Labour Rate', 'Labour Hours', 'MSPR w/labour', 'Comments (EN)',
       'Comments (FR)'],
      dtype='object')

In [595]:
def show_unique_values(df, columns):
    """
    Display unique values for the specified columns in a DataFrame.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to analyze.
    columns (list): List of column names to check.
    
    Returns:
    dict: A dictionary with column names as keys and unique values as lists.
    """
    unique_dict = {}
    for col in columns:
        if col in df.columns:
            unique_dict[col] = df[col].unique().tolist()
            # print(f"{col}: {df[col].unique().tolist()}")
        else:
            unique_dict[col] = "Column not found"
    return unique_dict


result = show_unique_values(hyundai_master_sheet_df, ['Trim 1', 'Trim 2',
       'Trim 3', 'Trim 4', 'Trim 5', 'Trim 6', 'Trim 7'])

In [596]:
trim_columns = [col for col in hyundai_master_sheet_df.columns if "trim" in col.lower()]

In [597]:
# dataset_summary = {}
# year_model_trim_dict = {}
# counter = 0
# for year in hyundai_master_sheet_df['Year'].unique():
#     for model in hyundai_master_sheet_df['Model'].unique():
        
#         model_df = hyundai_master_sheet_df[(hyundai_master_sheet_df['Year'] == year) & (hyundai_master_sheet_df['Model'] == model)]
#         filetered_columns = [col for col in model_df.columns if "trim" in col.lower()]
#         for col in filetered_columns:  
#             # dataset_summary[(year, model)] = len(model_df)
#             trim = model_df[col].dropna().unique().tolist()
#             if len(trim) > 0:
#                 trim_name = trim[0]
#                 # print(f"Year: {year}, Model: {model}, Trim: {trim_name}")
#                 year_model_trim_dict[(year, model, trim)] = model_df[(model_df['Year'] == year) & (model_df['Model'] == model) & (model_df[col] == trim_name)]
#                 # dataset_summary[(year, model, trim)] = len(year_model_trim_dict[(year, model, trim)])

In [598]:
standard_column_names = ['Year', 'Model', 'Trim', 'Description', 'PartNumber',
       'DNET', 'MSRP', 'Labour Rate', 'Hours', 'MSPR w/labour',
       'Comments']

In [599]:
column_to_match_rate_importer = ['Year', 'Model', 'Trim', 'Description', 'Part', 'Cost', 'Price', 'Hours' 'Comments']

In [600]:
tagy = {
 'Pref': {'tags': ['Preferred']},
 'Urban': {'tags': ['Urban']},
 'Calli': {'tags': ['Caligraphy']},
 'Trend': {'tags': ['Trend']},
 'N-Line': {'tags': ['N-Line']},
 'Lux': {'tags': ['Luxury']},
 'Lux ICE': {'tags': ['Luxury']},
 'Ult HEV': {'tags': ['Ultimate', 'HEV']},
 'Ult PHEV': {'tags': ['Ultimate', 'PHEV']},
 'Ult': {'tags': ['Ultimate']},
 'Ess': {'tags': ['Essential']},
 'HEV': {'tags': ['HEV']},
 'N': {'tags': ['N']},
 'N-Line Ult': {'tags': ['N-Line', 'Ult']},
 'Advanced': {'tags': ['Advanced']},
 'Performance': {'tags': ['Performance']},
 '2.5T Advanced': {'tags': ['2.5T', 'Advanced']},
 '2.5T Advanced Plus': {'tags': ['2.5T', 'Advanced', 'Plus']},
 '2.5T Prestige': {'tags': ['2.5T', 'Prestige']},
 '3.5T Sport': {'tags': ['3.5T', 'Sport']},
 '3.5T Sport Plus': {'tags': ['3.5T', 'Sport', 'Plus']},
 'Prestige': {'tags': ['Prestige']},
 '3.3T Advanced': {'tags': ['3.3T', 'Advanced']},
 '3.3T Sport': {'tags': ['3.3T', 'Sport']},
 '2.5T Adv': {'tags': ['2.5T', 'Adv']},
 '3.5T e-SC': {'tags': ['3.5T', 'e-SC']},
 '3.5T Advanced': {'tags': ['3.5T', 'Advanced']},
 '3.5T Prestige': {'tags': ['3.5T', 'Prestige']},
 '3.5T Prestige 7P': {'tags': ['3.5T', 'Prestige', '7P']},
 'Trend AWD': {'tags': ['Trend', 'AWD']},
 'Pref HEV': {'tags': ['Preferred', 'HEV']},
 'Pref HEV w/ Trend': {'tags': ['Preferred', 'HEV', 'w/', 'Trend']},
 'XRT': {'tags': ['XRT']},
 'Ult Calli': {'tags': ['Ultimate', 'Calli']},
 'HEV NHL Ed': {'tags': ['HEV', 'NHL', 'Ed']},
 'Sport': {'tags': ['Sport']},
 'Pref LR': {'tags': ['Preferred', 'LR']},
 '3.5T Sport Plus with eLSD': {'tags': ['3.5T',
   'Sport',
   'Plus',
   'with',
   'eLSD']},
 '2.5T Advanced 5P': {'tags': ['2.5T', 'Advanced', '5P']},
 '2.5T Advanced Tech Pkg 5P': {'tags': ['2.5T',
   'Advanced',
   'Tech',
   'Pkg',
   '5P']},
 '3.5T Advanced Tech Pkg 7P': {'tags': ['3.5T',
   'Advanced',
   'Tech',
   'Pkg',
   '7P']},
 '3.5T Coupe': {'tags': ['3.5T', 'Coupe']},
 'Pref Trend': {'tags': ['Preferred', 'Trend']},
 'Calli ICE': {'tags': ['Calli', 'ICE']},
 'Lux HEV': {'tags': ['Luxury', 'HEV']},
 'Calli HEV': {'tags': ['Calli', 'HEV']},
 '2.5T Advanced Tech': {'tags': ['2.5T', 'Advanced', 'Tech']},
 '3.5T Prestige Black': {'tags': ['3.5T', 'Prestige', 'Black']},
 '3.5T e-SC Prestige': {'tags': ['3.5T', 'e-SC', 'Prestige']},
 '3.5T e-SC Prestige Black': {'tags': ['3.5T', 'e-SC', 'Prestige', 'Black']},
 '3.5T Advanced Tech': {'tags': ['3.5T', 'Advanced', 'Tech']}
 }

In [602]:
missing_model_num_ = pd.DataFrame(columns=["Year", "Model", "Trim"])
missing_keyword = {}

In [605]:


def get_model_number_by_year_model_with_trim_key_word(year, model, kwd):
    
    pattern = ''.join(f'(?=.*{kw})' for kw in kwd)  # constructing search keywords pattern 
    # print(pattern)


    res_df = hyundai_model_db_df[
        (1==1)
        &(hyundai_model_db_df["Year"] == year) 

        & (hyundai_model_db_df["Model"] == model) 
        & (hyundai_model_db_df["Trim"].str.contains(pattern, case=False, na=False))
    ]

    
    if len(res_df) <= 0:
        return {"status": 400,
                "value":"",
                    "msg": "No Model number record found. get_model_num_by_YM_wt..()"}
    
    response = {"status": 200, 
                "value": res_df,
                "msg": "Found model number. get_model_num_by_YM_wt..()"}
    return response 


def get_tags_by_model_and_trim(trim):
    # return tag_keywords[trim]
    tag_search_results = tagy[trim]["tags"]

    if len(tag_search_results) <=0:
        missing_keyword[trim] = 'Missing kwd'
        return tag_search_results
    
    
    return {"status": 200,
                    "value": tag_search_results,
                     "msg": "Found tag to use for modelNumber search. get_tag..()"}

def search_hyundai_db_by_model_year_trim(year, model, trim):

    search_response = get_tags_by_model_and_trim(trim)
    
    if search_response["status"] == 400:
        return search_response
    
    tags = search_response["value"]
    get_model_nums_search_response = get_model_number_by_year_model_with_trim_key_word(year, model, tags)
        
    if (get_model_nums_search_response["status"]==400):
        missing_model_num_.loc[len(missing_model_num_)] = [year, model, trim]

        return get_model_nums_search_response
    model_nums = get_model_nums_search_response["value"]

    return {
            "status": 200,
            "value": model_nums["ModelNumber"].tolist(),
            "msg": "Found modelNumbers. search_hyundai_db_by_model_year_trim()"}

In [606]:
search_hyundai_db_by_model_year_trim(2024, "Tucson", 'Pref')

{'status': 200,
 'value': ['TUCWDK2EPR00', 'TU4SAA25B200'],
 'msg': 'Found modelNumbers. search_hyundai_db_by_model_year_trim()'}

In [607]:
dataset_summary = pd.DataFrame(columns=['Year', 'Model', 'Trim', 'Record_Count'])
year_model_trim_dict = {}
missing_model_num_ = missing_model_num_.loc[0:0]
missing_keyword = {}

# Looping through the master file by year/model and trim

for year in hyundai_master_sheet_df['Year'].unique():
    for model in hyundai_master_sheet_df['Model'].unique():

# filtering to the current iteration for year and Model        
        model_df = hyundai_master_sheet_df[
            (hyundai_master_sheet_df['Year'] == year) &
            (hyundai_master_sheet_df['Model'] == model)
        ]
        # source_file = hyundai_master_sheet_df[]
# Getting only the name of Trim columns in the vehicle DF
        filtered_columns = [col for col in model_df.columns if "trim" in col.lower()]

# Looping through unique model df, capturing          
        for col in filtered_columns:
            trims = model_df[col].dropna().unique().tolist()
            # skip empty trim columns
            if len(trims) == 0:
                continue            
            
            trim_name = trims[0]  # grab the trim name in that column. Colum has only one trim name at this point. 
            
            # We are going to create a file for each trim name 
            # Filter the list searching by trimName and save the list 
            if trim_name:
                
                # filter by trim name and save a new list
                subset_df = model_df[model_df[col] == trim_name]
                
                # grab all the colms in the subset with the keyword trim
                copy_filtered_columns = [c for c in subset_df.columns if "trim" in c.lower()]  # grab all trim columns in the subset
                
                copy_filtered_columns.remove(col)  # drop the current trim column that we want to keep

                subset_df = subset_df.drop(columns=copy_filtered_columns)  #  drop all trim columns except the one we want to keep
                subset_df.rename(columns={col: 'Trim'}, inplace=True)       # rename the current trim column to 'Trim' for clarity
                
                # create copy of the subset dataframe and store both in the dist as english and french versions
                # Identify columns containing "(EN)"
                English_columns = [col for col in hyundai_master_sheet_df.columns if "(EN)" in col]
                French_columns = [col for col in hyundai_master_sheet_df.columns if "(FR)" in col]

                # Initialize nested dict if not exists
                key = (year, model, trim_name)
                year_model_trim_dict.setdefault(key, {"FR":pd.DataFrame(), "EN":pd.DataFrame()})

                # Remove English columns for French version and vice versa
                # first check if there are any columns to drop

                # get model numbers by year/model/trim
                # they could be one or many, just because
                # some trims come w/t different options
                # and some have different version that came at different times of the year same trims
                
                # Created a list that will get all the model_numbers, they each will have a copy of the data for the particular trim, since they are all handled as unique vehicles.
                modelNum_search_results = search_hyundai_db_by_model_year_trim(year = year, model=model, trim = trim_name)
                
                if modelNum_search_results["status"] == 400:
                    continue
                model_nums = modelNum_search_results["value"]

                # loop through all model numbers and create a copy list for each model number
                for modelnum in model_nums:
                    
                    if len(English_columns) > 0:
                        
                        uniq_model_accy_list = subset_df.drop(columns=English_columns)

                        # standardize column names for French version
                        uniq_model_accy_list.columns = standard_column_names
                        
                        # get the model_number of the vehicle and add it to the dataframe
                        
                        uniq_model_accy_list["ModelNumber"] = modelnum
                        # year_model_trim_dict[key]["FR"].columns = 
                        year_model_trim_dict[key]["FR"] = pd.concat([year_model_trim_dict[key]["FR"], uniq_model_accy_list], ignore_index=True)
                        
                        # then drop some columns to match rate importer format
                        # then group all the df for each model and year and finally save them to an excel files
        
                    if len(French_columns) > 0:
                        uniq_model_accy_list = subset_df.drop(columns=English_columns)

                        # standardize column names for French version
                        uniq_model_accy_list.columns = standard_column_names
                        
                        # get the model_number of the vehicle and add it to the dataframe
                        
                        uniq_model_accy_list["ModelNumber"] = modelnum

                        year_model_trim_dict[key]["EN"] = pd.concat([year_model_trim_dict[key]["EN"], uniq_model_accy_list], ignore_index=True)

                    # dataset_summary[(year, model, trim_name)] = len(subset_df)
                    dataset_summary.loc[len(dataset_summary)] = [year, model, trim_name, len(subset_df)]

                    # print(f"Year: {year}, Model: {model}, Trim: {trim_name}, Records: {len(subset_df)}")

In [610]:

# check if each 
# Get a list of unique model numbers from both Hyundia_db and uniq accy_list dict 
# store them in vars named db_mdNumCount and file_mdNumCount
# Create column is_identical to check if they are identical  
# Create column is_equal_count to check if they are equal in length
# create column mdNUms_db
# create column mdNums_file

# Year/Model.countUniqModelNUmber() 
def data_check(year_model_trim_dict, hyundai_model_db_df): 
    data_check_report_df = pd.DataFrame(columns=["Year", "Model", "Trim", "Lang", "is_list_identical?", "db_mdNumCount", "file_mdNumCount", "mdNUms_db", "mdNums_file"])
    for (year, model, trim_name),value in year_model_trim_dict.items():
    
        # # get unique model numbers - files
        # FR_uniq_model_nums = value["FR"]["ModelNumber"].unique().tolist()
        # EN_uniq_model_nums = value["EN"]["ModelNumber"].unique().tolist()
        
        # get unique models numbers from 
        search_resp = search_hyundai_db_by_model_year_trim(year, model, trim_name)

        if search_resp["status"] == 400:
            db_mdNumCount = "Veh Not found in db"
            mdNums_from_db = []
        else:
            mdNums_from_db = search_resp["value"]
            db_mdNumCount = len(mdNums_from_db) 
        
        for lang, accy_list in value.items():
            
            if "ModelNumber" not in accy_list.columns:
                uniq_model_nums_list = "Error: File has no model number column"
                is_indentical_list = False
                count_mdNUms_from_accy_list = 0
                continue 
            else:
                uniq_model_nums_list = accy_list["ModelNumber"].unique().tolist()
                is_indentical_list = (mdNums_from_db == uniq_model_nums_list)
                count_mdNUms_from_accy_list = len(uniq_model_nums_list)

            new_record_df =  pd.DataFrame(
                [[year, 
                model, 
                trim_name, 
                lang,
                is_indentical_list, 
                db_mdNumCount, 
                count_mdNUms_from_accy_list, 
                mdNums_from_db, 
                uniq_model_nums_list]]
                , columns=["Year", "Model", "Trim", "Lang", "is_list_identical?", "db_mdNumCount", "file_mdNumCount", "mdNUms_db", "mdNums_file"])

            data_check_report_df = pd.concat([data_check_report_df, new_record_df], ignore_index=True)
            
    return data_check_report_df



data_load_report_check_df = data_check(year_model_trim_dict, hyundai_model_db_df)

In [613]:
data_load_report_check_df["is_list_identical?"].value_counts()

is_list_identical?
True    194
Name: count, dtype: int64

In [525]:
from datetime import datetime
import os

In [ ]:
# # Prepare the output filename with timestamp
# timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
# filename = "Hyundai_ACCY_load_report_{timestamp}.csv"
# directory = r"..\reports_log\Hyundai\data_load"
# output_path = os.path.join(directory, filename)

# data_load_report_check_df.to_csv(output_path, index=False)

In [615]:
def check_missing_model_numbers_report_model_db(missing_model_num_, hyundai_model_db_df):
    # missing model numbers report 
    missing_data_report_df = pd.DataFrame(columns=["Year", "Model", "Trim", "missingMd#?", "Comments"])

    for index, row in missing_model_num_.iterrows():
        
        # search the veh model in the model number db by year/model/ and trim
        
        search_result = hyundai_model_db_df[
            (1==1)
            & (hyundai_model_db_df["Year"] == row["Year"])
            & (hyundai_model_db_df["Model"] == row["Model"])
            & (hyundai_model_db_df["Trim"] == row["Trim"])
            ]

        if search_result.empty:
            mdNUmStatus = True
        else:
            mdNUmStatus = False

        new_row = pd.DataFrame(
                                [[row["Year"], row["Model"],row["Trim"], mdNUmStatus, "Missing model Number."]], 
                                columns=["Year", "Model", "Trim", "missingMd#?", "Comments"]
                            )  
        # concat dfs
        missing_data_report_df = pd.concat([missing_data_report_df, new_row], ignore_index=True)
    
    return missing_data_report_df

missing_date_report = check_missing_model_numbers_report_model_db(missing_model_num_, hyundai_model_db_df)

In [616]:
missing_date_report

,Year,Model,Trim,missingMd#?,Comments
0,2024,Elantra,HEV,True,Missing model Number.
1,2024,Kona,N-Line,True,Missing model Number.
2,2024,Kona,N-Line Ult,True,Missing model Number.
3,2024,Kona EV,Pref,True,Missing model Number.
4,2024,Kona EV,Ult,True,Missing model Number.
...,...,...,...,...,...
197,2026,Santa Fe,Calli HEV,True,Missing model Number.
198,2026,Santa Fe,XRT,True,Missing model Number.
199,2026,Santa Fe,Calli ICE,True,Missing model Number.
200,2026,GV80 Coupe,3.5T e-SC,True,Missing model Number.
201,2026,GV80 Coupe,3.5T e-SC Prestige Black,True,Missing model Number.

In [618]:
search_hyundai_db_by_model_year_trim(2024, "Tuscon", "Ult HEV")

{'status': 400,
 'value': '',
 'msg': 'No Model number record found. get_model_num_by_YM_wt..()'}

In [619]:
missing_date_report[missing_date_report["Model"]=="Tucson"]

     Year   Model      Trim missingMd#?               Comments
28   2025  Tucson    N-Line        True  Missing model Number.
60   2026  Tucson       XRT        True  Missing model Number.
61   2026  Tucson   Ult HEV        True  Missing model Number.
62   2026  Tucson  Ult PHEV        True  Missing model Number.
129  2025  Tucson    N-Line        True  Missing model Number.
161  2026  Tucson       XRT        True  Missing model Number.
162  2026  Tucson   Ult HEV        True  Missing model Number.
163  2026  Tucson  Ult PHEV        True  Missing model Number.

In [545]:
missing_model_num_.columns

Index(['Year', 'Model', 'Trim'], dtype='object')

In [ ]:
def create_tags_for_veh_trims(df):
   # Decomposing trim to enable tagging
   all_trim_names= df["Trim"].unique().tolist()
   extracted_dict = {}
   kwds_to_drop = ["w/t", "with", ]
   for item in all_trim_names:
      if " " not in item:
         parts = [item]

      else:
         parts = item.split()
      
      extracted_dict[item]= {"tags" :parts} 

   return extracted_dict
# create_tags_for_veh_trims(dataset_summary)

In [ ]:
# cleaned_models.to_csv(r'..\database\dbs\Hyundai_models_db.csv', index=False)

In [413]:
# tagy = {
#  'Pref': {'tags': ['Preferred']},
#  'Urban': {'tags': ['Urban']},
#  'Calli': {'tags': ['Calligraphy']},
#  'Trend': {'tags': ['Trend']},
#  'N-Line': {'tags': ['N-Line']},
#  'Lux': {'tags': ['Luxury']},
#  'Ult HEV': {'tags': ['Ultimate', 'HEV']},
#  'Ult PHEV': {'tags': ['Ultimate', 'PHEV']},
#  'Ult': {'tags': ['Ultimate']},
#  'Ess': {'tags': ['Essential']},
#  'HEV': {'tags': ['HEV']},
#  'N': {'tags': ['N']},
#  'N-Line Ult': {'tags': ['N-Line', 'Ult']},
#  'Advanced': {'tags': ['Advanced']},
#  'Performance': {'tags': ['Performance']},
#  '2.5T Advanced': {'tags': ['2.5T', 'Advanced']},
#  '2.5T Advanced Plus': {'tags': ['2.5T', 'Advanced', 'Plus']},
#  '2.5T Prestige': {'tags': ['2.5T', 'Prestige']},
#  '3.5T Sport': {'tags': ['3.5T', 'Sport']},
#  '3.5T Sport Plus': {'tags': ['3.5T', 'Sport', 'Plus']},
#  'Prestige': {'tags': ['Prestige']},
#  '3.3T Advanced': {'tags': ['3.3T', 'Advanced']},
#  '3.3T Sport': {'tags': ['3.3T', 'Sport']},
#  '2.5T Adv': {'tags': ['2.5T', 'Adv']},
#  '3.5T e-SC': {'tags': ['3.5T', 'e-SC']},
#  '3.5T Advanced': {'tags': ['3.5T', 'Advanced']},
#  '3.5T Prestige': {'tags': ['3.5T', 'Prestige']},
#  '3.5T Prestige 7P': {'tags': ['3.5T', 'Prestige', '7P']},
#  'Trend AWD': {'tags': ['Trend', 'AWD']},
#  'Pref HEV': {'tags': ['Preferred', 'HEV']},
#  'Pref HEV w/ Trend': {'tags': ['Preferred', 'HEV', 'w/', 'Trend']},
#  'XRT': {'tags': ['XRT']},
#  'Ult Calli': {'tags': ['Ultimate', 'Calli']},
#  'HEV NHL Ed': {'tags': ['HEV', 'NHL', 'Ed']},
#  'Sport': {'tags': ['Sport']},
#  'Pref LR': {'tags': ['Preferred', 'LR']},
#  '3.5T Sport Plus with eLSD': {'tags': ['3.5T',
#    'Sport',
#    'Plus',
#    'with',
#    'eLSD']},
#  '2.5T Advanced 5P': {'tags': ['2.5T', 'Advanced', '5P']},
#  '2.5T Advanced Tech Pkg 5P': {'tags': ['2.5T',
#    'Advanced',
#    'Tech',
#    'Pkg',
#    '5P']},
#  '3.5T Advanced Tech Pkg 7P': {'tags': ['3.5T',
#    'Advanced',
#    'Tech',
#    'Pkg',
#    '7P']},
#  '3.5T Coupe': {'tags': ['3.5T', 'Coupe']},
#  'Pref Trend': {'tags': ['Preferred', 'Trend']},
#  'Calli ICE': {'tags': ['Calli', 'ICE']},
#  'Lux HEV': {'tags': ['Luxury', 'HEV']},
#  'Calli HEV': {'tags': ['Calli', 'HEV']},
#  '2.5T Advanced Tech': {'tags': ['2.5T', 'Advanced', 'Tech']},
#  '3.5T Prestige Black': {'tags': ['3.5T', 'Prestige', 'Black']},
#  '3.5T e-SC Prestige': {'tags': ['3.5T', 'e-SC', 'Prestige']},
#  '3.5T e-SC Prestige Black': {'tags': ['3.5T', 'e-SC', 'Prestige', 'Black']},
#  '3.5T Advanced Tech': {'tags': ['3.5T', 'Advanced', 'Tech']}
#  }

In [444]:
dataset_summary

     Year       Model                      Trim  Record_Count
0    2024    Palisade                      Pref            90
1    2024    Palisade                     Urban            90
2    2024    Palisade                     Calli            93
3    2024      Tucson                      Pref            94
4    2024      Tucson                     Trend            94
..    ...         ...                       ...           ...
193  2026  GV80 Coupe  3.5T e-SC Prestige Black            45
194  2026     Ioniq 9                       Ess            70
195  2026     Ioniq 9                      Pref            73
196  2026     Ioniq 9                       Lux            74
197  2026     Ioniq 9                 Ult Calli            74

[198 rows x 4 columns]

In [453]:
def find_missing_modelNums(df):
    # dataset_summary[dataset_summary["Trim"].str.contains("w/")]
    # counter = 0
    missing_model_numbers = pd.DataFrame(columns=["Year", "Model", "Trim"])

    for index, row in df.iterrows():
        Model_numbers_output = search_hyundai_db_by_model_year_trim(row.Year, row.Model, row.Trim)
        
        if 0 >= len(Model_numbers_output):
            # print(f"Year : {row.Year}, Model : {row.Model}, Trim : {row.Trim} -> No Model_numbers")
            missing_model_numbers.loc[len(missing_model_numbers)] = [row.Year, row.Model, row.Trim]
    return missing_model_numbers
find_missing_modelNums(dataset_summary)

     Year       Model                      Trim
0    2024      Tucson                    N-Line
1    2024      Tucson                       Lux
2    2024      Tucson                   Ult HEV
3    2024      Tucson                  Ult PHEV
4    2024     Elantra                       HEV
..    ...         ...                       ...
111  2026  GV80 Coupe  3.5T e-SC Prestige Black
112  2026     Ioniq 9                       Ess
113  2026     Ioniq 9                      Pref
114  2026     Ioniq 9                       Lux
115  2026     Ioniq 9                 Ult Calli

[116 rows x 3 columns]

In [ ]:
def check_if_no_model_number_by_YMT(df):

Empty DataFrame
Columns: [Year, Model, Trim]
Index: []

Empty DataFrame
Columns: [Year, Model, Trim]
Index: []

In [ ]:
# dataset_summary = pd.DataFrame(columns=['Year', 'Model', 'Trim', 'Record_Count'])
# year_model_trim_dict = {}



# for year in hyundai_master_sheet_df['Year'].unique():
#     for model in hyundai_master_sheet_df['Model'].unique():
        
#         model_df = hyundai_master_sheet_df[
#             (hyundai_master_sheet_df['Year'] == year) &
#             (hyundai_master_sheet_df['Model'] == model)
#         ]
        
#         filtered_columns = [col for col in model_df.columns if "trim" in col.lower()]
        
#         for col in filtered_columns:
#             trims = model_df[col].dropna().unique().tolist()
#             if len(trims) == 0:
#                 continue            
#             trim_name = trims[0]
            
#             if trim_name:
                
#                 # create teh subset for each trim
#                 subset_df = model_df[model_df[col] == trim_name]
                
#                 copy_filtered_columns = [c for c in subset_df.columns if "trim" in c.lower()]  # grab all trim columns in the subset
                
#                 copy_filtered_columns.remove(col)  # drop the current trim column
 
#                 subset_df = subset_df.drop(columns=copy_filtered_columns)  #  drop other trim columns
#                 subset_df.rename(columns={col: 'Trim'}, inplace=True)       # rename the current trim column to 'Trim' for clarity
                
#                 # create copy of the subset dataframe and store both in the dist as english and french versions
#                 # Identify columns containing "(EN)"
#                 English_columns = [col for col in hyundai_master_sheet_df.columns if "(EN)" in col]
#                 French_columns = [col for col in hyundai_master_sheet_df.columns if "(FR)" in col]

#                 # Initialize nested dict if not exists
#                 key = (year, model, trim_name)
#                 year_model_trim_dict.setdefault(key, {})

#                 # Remove English columns for French version and vice versa
#                 # first check if there are any columns to drop

#                 # get model numbers by year/model/trim
#                 # they could be one or many, just because
#                 # some trims come w/t different options
#                 # and some have different version that came at different times of the year same trims
                
#                 # Created a list that will get all the model_numbers, they each will have a copy of the data for the particular trim, since they are all handled as unique vehicles.
#                 model_numbers = search_hyundai_db_by_model_year_trim(year = year, model=model, trim= trim_name)

#                 # loop through all model numbers and create a copy list for each model number

#                 for model_number in model_numbers:
#                 # create a copy for each and append it to the trim accy list. do it for both languages
#                     year_model_trim_dict[key]["FR"] = pd.DataFrame()
#                     year_model_trim_dict[key]["EN"] = pd.DataFrame()

#                     if len(English_columns) > 0:
#                         single_uniq_accy_list_for_trim = subset_df.drop(columns=English_columns)                              
#                         single_uniq_accy_list_for_trim["ModelNumber"] = model_number 


#                         year_model_trim_dict[key]["FR"] = pd.concat([year_model_trim_dict[key]["FR"], single_uniq_accy_list_for_trim])


#                         # year_model_trim_dict[key]["FR"] = subset_df.drop(columns=English_columns) # drop English columns

#                         # standardize column names for French version
#                         year_model_trim_dict[key]["FR"].columns = standard_column_names
                        
#                         # get the model_number of the vehicle and add it to the dataframe
                        
                                            
#                         # then drop some columns to match rate importer format
#                         # then group all the df for each model and year and finally save them to an excel files
        
#                     if len(French_columns) > 0:
#                         single_uniq_accy_list_for_trim = subset_df.drop(columns=French_columns)                              
#                         single_uniq_accy_list_for_trim["ModelNumber"] = model_number 


#                         year_model_trim_dict[key]["EN"] = pd.concat([year_model_trim_dict[key]["EN"], single_uniq_accy_list_for_trim])


#                         # year_model_trim_dict[key]["EN"] = subset_df.drop(columns=French_columns) # drop English columns

#                         # standardize column names for English version
#                         year_model_trim_dict[key]["EN"].columns = standard_column_names


#                 # dataset_summary[(year, model, trim_name)] = len(subset_df)
#                 dataset_summary.loc[len(dataset_summary)] = [year, model, trim_name, len(subset_df)]

#                 print(f"Year: {year}, Model: {model}, Trim: {trim_name}, Records: {len(subset_df)}")