In [1]:
import pandas as pd

In [2]:
hunday_models = r'..\Assets\vehicle_models_db\HYUNDAI SEP25.xlsx'

# I want to read all the sheets in this excel file and combine them into a single dataframe for easier searching nad they have the sames columns structure. Create a new column and name it Year and the value should be the name of the sheet it came from.
xls = pd.ExcelFile(hunday_models)
df = pd.DataFrame()
for sheet_name in xls.sheet_names:
    temp_df = pd.read_excel(xls, sheet_name=sheet_name)
    temp_df['Year'] = sheet_name
    df = pd.concat([df, temp_df], ignore_index=True)   
# df.to_csv('hyundai_models.csv', index=False)

In [3]:

# df.columns = df.columns.str.strip()
df = df.map(lambda x: x.strip() if isinstance(x, str) else x)

In [4]:
df.drop(columns=['CPR', 'LR', 'FI', 'FLRR',
       'SF1-24', 'SF25-36', 'SF37-48', 'SF49-60', 'SF61-72', 'SF73-84',
       'BF60-84', 'SF85-96', 'SRF12-24', 'SRF25-36', 'SRF37-48', 'SRF49-60',
       'SRF61-72', 'SRF73-84', 'SRF85-96', 'SRBF60-84', 'NPFI', 'NPRR',
       'T6NR24-72', 'T5NR24-84', 'T4NR24-84', 'T3NR24-84', 'T2NR24-96', 'LI',
       'LLRR', 'SL24', 'SL33', 'SL36', 'SL39', 'SL48', 'SL60', 'SRL36',
       'SRL48', 'SRL60', 'RV24', 'RV33', 'RV36', 'RV39', 'RV48', 'RV60', 'MAR', 'TACR1-24', 'TACR25-36', 'TACR37-48', 'TACR49-60', 'TACR61-72',
       'TACR73-84', 'TACBR60-84', 'Column1', 'TCCR1-24', 'TCCR25-36',
       'TCCR37-48', 'TCCR49-60', 'TCCR61-72', 'TCCR73-84', 'TCCBR60-84',
       'CLRR', 'CT3SR24-84', 'CT4SR24-84', 'CT5SR24-84', 'CT6SR24-84'], axis=1, inplace=True)

In [5]:
# df[df['Description']== "NaN"]

In [6]:
# in df named "df" create a new column Model_Name, and to obtain the valure, check in columns 'Description ' and 'Description', if one has the value and the other is NaN, then take the value that is not NaN, if both have values, then concatenate them with a space in between, if both are NaN, then the value should be NaN.Then the new column will be teh second column and the two columns  will be at the end of the dataframe.
df['Model_Name'] = df.apply(lambda row: row['Description'] if pd.isna(row['Description ']) else (row['Description '] if pd.isna(row['Description']) else (str(row['Description ']) + ' ' + str(row['Description']))), axis=1)
df.insert(1, 'Model_Name', df.pop('Model_Name'))

In [7]:
df =df[['Model', 'Year', 'Model_Name', 'Description 2',  'Description', 'Description ']]

In [8]:
df[df["Description"] == "Nan"]

Empty DataFrame
Columns: [Model, Year, Model_Name, Description 2, Description, Description ]
Index: []

In [9]:
df.dropna(subset=['Model'], inplace=True)

In [10]:
df[df["Description 2"].isnull()]

            Model      Year Model_Name Description 2 Description Description
779  NXFW5ZH1PR00  CPO 2024       NEXO           NaN        NEXO          NaN
780  NXFW5ZH1UL00  CPO 2024       NEXO           NaN        NEXO          NaN

In [235]:
# df[df["Model_Name"].str.contains("Kona", case=False, na=False) & (df["Year"] == "2025") & ~df["Model_Name"].str.contains("EV", case=False, na=False)]


df[df["Model_Name"].str.contains("Ioniq", case=False, na=False) 
#    & df["Model_Name"].str.contains("EV", case=False, na=False) 
   & (df["Year"] == "2026")
#    & df["Description 2"].str.contains("Pref", case=False, na=False) 
#    & df ["Description 2"].str.contains("Long", case=False, na=False)
#    & df ["Description 2"].str.contains("Lux", case=False, na=False) 
#    &~ df ["Description 2"].str.contains("Ult", case=False, na=False) 
#    & df ["Description 2"].str.contains("EV", case=False, na=False) 
#    & df ["Description 2"].str.contains("AWD", case=False, na=False) 
#    & df ["Description 2"].str.contains("trend", case=False, na=False) 
#    & df ["Description 2"].str.contains("xrt", case=False, na=False) 
   ]

,Model,Year,Model_Name,Description 2,Description,Description
48,I5EW5ZE4PRLR,2026,IONIQ 5,Preferred RWD Long Range,NaN,IONIQ 5
49,I5EW5ZE2PRLR,2026,IONIQ 5,Preferred AWD Long Range,NaN,IONIQ 5
50,I5EW5ZE2PRUP,2026,IONIQ 5,Preferred AWD Long Range w/Ultimate Pkg,NaN,IONIQ 5
51,I9EW7ZE4ES00,2026,IONIQ 9,Essential RWD,NaN,IONIQ 9
52,I9EW7ZE2PR00,2026,IONIQ 9,Preferred AWD,NaN,IONIQ 9
53,I9EW7ZE2PRLP,2026,IONIQ 9,Preferred AWD w/Luxury Pkg,NaN,IONIQ 9
54,I9EW6ZE1PRBG,2026,IONIQ 9,Preferred + AWD w/Ultimate Calligraphy Pkg,NaN,IONIQ 9
55,I9EW7ZE1PR00,2026,IONIQ 9,Preferred + AWD,NaN,IONIQ 9